
.cart-maincontainer{
    margin-top: 80px;
    background-color:rgba(250, 240, 230, 0.797);
    
  position: relative;
}
.cartContainer p{
    text-align: center;
    padding-top: 10%;
    font-size: 20px;
}
.cart-button{
    display: flex;
    justify-content: center;
 
}
.cart-button button{
  margin-top: 20px;
  margin-bottom: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:#c1035c;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    outline: none;
    border: none;
}

.cart-button button:hover{
    font-size: 20px;
}