
.container1{
 
  position:relative;
  max-width: 430px;
  width: 100%;
  margin: 200px auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
 padding:20px;
  overflow: hidden;  
}
 .forms1{

  align-items:center;
  height: auto;
  transition: height 0.2s ease;
  
}
.form1{
  width: 100%;
  padding: 30px;
  text-align: center;
}
 .form1 .title{

  font-size: 27px;
  font-weight: 600;
 
}
.form1 p{
    padding-top: 10px;
 text-align: center;
}
.form1 .input-field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input{
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:focus{
  border-bottom-color: #c1035c;
}



.form1 .text{
  color: #333;
  font-size: 14px;
}

.form1 a.text{
  color: #c1035c;
  text-decoration: none;
}
.form1 a:hover{
  text-decoration: underline;
}

.form1 .button{
  margin-top: 25px;
}
.form1 .button input{
  border: none;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 6px;
  background-color: #c1035c;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input:hover{
  background-color: #b10354;
}

.form1 .login-signup{
  margin-top: 30px;
  text-align: center;
}